<div id="setupDiv">
    <label for="tempoIn">Tempo: </label> <input id="tempoIn" type="number" min="40" max="160"
                                                value="<%= beat.get('tempo') %>"/>
    <label for="volumeIn">Lautstärke</label> <input id="volumeIn" type="range" min="0" max="100"
                                                    value="<%= beat.get('volume') %>" step="1">
    <button id="playButton" class="btn"><i class="fas fa-play"></i></button>
    <button id="stopButton" class="btn"><i class="fas fa-stop"></i></button>
    <button id="saveButton" class="btn"><i class="fas fa-save"></i></button>
    <button id="deleteButton" class="btn"><i class="fas fa-trash-alt"></i></button>
</div>
<div>
    <div>
        <div class="noteDiv">
        </div>
        <button class="noteBtn 1"></button>
        <button class="noteBtn 2"></button>
        <button class="noteBtn 3"></button>
        <button class="noteBtn 4"></button>
        <button class="noteBtn 5"></button>
        <button class="noteBtn 6"></button>
        <button class="noteBtn 7"></button>
        <button class="noteBtn 8"></button>
        <button class="noteBtn 9"></button>
        <button class="noteBtn 10"></button>
        <button class="noteBtn 11"></button>
        <button class="noteBtn 12"></button>
        <button class="noteBtn 13"></button>
        <button class="noteBtn 14"></button>
        <button class="noteBtn 15"></button>
        <button class="noteBtn 16"></button>
    </div>
</div>
<% var i = 0; console.log(i);%>
<% _.each(beat.get('bars'), function(bar) { %>
<div id="<%= i%>">
    <div class="barSetupDiv">
        <div class="soundFilterDiv">
            <label for="<%= 'sound' + i %>">Sound:</label>
            <select size="1" class="soundSelect" id="<%= 'sound' + i %>">
                <optgroup label="kick">
                    <option value="0">kick1</option>
                    <option value="1">kick2</option>
                    <option value="2">kick3</option>
                    <option value="3">kick4</option>
                    <option value="4">kick5</option>
                    <option value="5">kick6</option>
                    <option value="6">kick7</option>
                </optgroup>
                <optgroup label="snare">
                    <option value="7">snare1</option>
                    <option value="8">snare2</option>
                    <option value="9">snare3</option>
                    <option value="10">snare4</option>
                    <option value="11">snare5</option>
                    <option value="12">snare6</option>
                </optgroup>
                <optgroup label="hithat">
                    <option value="13">hihat1</option>
                    <option value="14">hihat2</option>
                    <option value="15">hihat3</option>
                    <option value="16">hihat4</option>
                    <option value="17">hihat5</option>
                    <option value="18">hihat6</option>
                </optgroup>
                <optgroup label="bass">
                    <option value="19">bass1</option>
                    <option value="20">bass2</option>
                    <option value="21">bass3</option>
                    <option value="22">bass4</option>
                    <option value="23">bass5</option>
                    <option value="24">bass6</option>
                    <option value="25">bass7</option>
                    <option value="26">bass8</option>
                    <option value="27">bass9</option>
                </optgroup>
                <optgroup label="others">
                    <option value="28">big-bass-c2</option>
                    <option value="29">bsoft2</option>
                    <option value="30">blip-1</option>
                    <option value="31">bass-0101</option>
                    <option value="32">bass-a2</option>
                    <option value="33">bass-a3</option>
                    <option value="34">el-bass-01</option>
                    <option value="35">el-bass-02</option>
                    <option value="36">bass-stab-11</option>
                    <option value="37">balloon-bass-03</option>
                    <option value="38">sound5a</option>
                    <option value="39">bass-16b</option>
                    <option value="40">access-denied</option>
                    <option value="41">retro-jump-sfx</option>
                    <option value="42">geiger1</option>
                    <option value="43">blip2</option>
                    <option value="44">complete-signal</option>
                    <option value="45">quack</option>
                    <option value="46">loading-chime</option>
                    <option value="47">laser-shot</option>
                </optgroup>
            </select>
            <label for="<%= 'filter' + i %>">Filter:</label>
            <select size="1" class="filterSelect" id="<%= 'filter' + i %>">
                <option value="filter1">filter1</option>
                <option value="filter2">filter2</option>
                <option value="filter3">filter3</option>
            </select>
            <input class="filterIn" id="<%= 'filterIn' + i %>" type="range" min="0" max="100" value="100"
                   step="1">
        </div>
        <div class="volumeDiv">
            <label for="<%= 'volume' + i %>">Lautstärke </label>
            <input class="barVolume" id="<%= 'volume' + i %>" type="range" min="0" max="100" value="<%= bar.volume %>"
                   step="1">
        </div>
    </div>
    <% var j = 1; console.log(j);%>
    <% _.each(bar.notes, function(note) { %>
    <button class="beatBtn <%= j %>" value="<%= note ? 'set' : 'unset' %>"></button>
    <% j++; %>
    <% }); %>
</div>
<% i++; %>
<% }); %>