<div id="setupDiv">
    <div class="mainMenuDiv">
        <label for="tempoIn">Tempo: </label> <input id="tempoIn" type="number" min="40" max="160"
                                                    value="<%= beat.get('tempo') %>"/>
    </div>
    <div class="mainMenuDiv">
        <label for="volumeIn">Lautstärke</label> <input id="volumeIn" type="range" min="0" max="100"
                                                        value="<%= beat.get('volume') %>" step="1">
    </div>
    <div class="mainMenuDiv">
        <button id="playButton" disabled class="btn"><i class="fas fa-play"></i></button>
        <button id="stopButton" disabled class="btn"><i class="fas fa-stop"></i></button>
        <button id="saveButton" disabled class="btn"><i class="fas fa-save"></i></button>
        <button id="deleteButton" disabled class="btn"><i class="fas fa-trash-alt"></i></button>
        <button id="addButton" disabled class="btn"><i class="fas fa-plus"></i></button>
    </div>
    <div class="beatsSelDiv">
        <label for="beatSelect">Beat auswählen:</label>
        <select size="1" id="beatSelect">
            <% beats.each(function(beat) { %>
            <option value="<%= beat.id %>"><%= beat.id %></option>
            <% }); %>
        </select>
    </div>
</div>
<div>
    <div>
        <div class="noteDiv">
        </div>
        <button class="noteBtn 1"></button>
        <button class="noteBtn 2"></button>
        <button class="noteBtn 3"></button>
        <button class="noteBtn 4"></button>
        <button class="noteBtn 5"></button>
        <button class="noteBtn 6"></button>
        <button class="noteBtn 7"></button>
        <button class="noteBtn 8"></button>
        <button class="noteBtn 9"></button>
        <button class="noteBtn 10"></button>
        <button class="noteBtn 11"></button>
        <button class="noteBtn 12"></button>
        <button class="noteBtn 13"></button>
        <button class="noteBtn 14"></button>
        <button class="noteBtn 15"></button>
        <button class="noteBtn 16"></button>
    </div>
</div>
<% var i = 0; console.log(i);%>
<% _.each(beat.get('bars'), function(bar) { %>
<div id="<%= i%>">
    <div class="barSetupDiv">
        <div class="soundEffectVolumeDiv">
            <% var m = 0;%>
            <label for="<%= 'sound' + i %>">Sound:</label>
            <select size="1" class="soundSelect" id="<%= 'sound' + i %>">
                <optgroup label="kick">
                    <option value="<%= m %>">kick1</option>
                    <% m++;%>
                    <option value="<%= m %>">kick2</option>
                    <% m++;%>
                    <option value="<%= m %>">kick3</option>
                    <% m++;%>
                    <option value="<%= m %>">kick4</option>
                    <% m++;%>
                    <option value="<%= m %>">kick5</option>
                    <% m++;%>
                    <option value="<%= m %>">kick6</option>
                    <% m++;%>
                    <option value="<%= m %>">kick7</option>
                    <% m++;%>
                </optgroup>
                <optgroup label="snare">
                    <option value="<%= m %>">snare1</option>
                    <% m++;%>
                    <option value="<%= m %>">snare2</option>
                    <% m++;%>
                    <option value="<%= m %>">snare3</option>
                    <% m++;%>
                    <option value="<%= m %>">snare4</option>
                    <% m++;%>
                    <option value="<%= m %>">snare5</option>
                    <% m++;%>
                    <option value="<%= m %>">snare6</option>
                    <% m++;%>
                </optgroup>
                <optgroup label="hithat">
                    <option value="<%= m %>">hihat1</option>
                    <% m++;%>
                    <option value="<%= m %>">hihat2</option>
                    <% m++;%>
                    <option value="<%= m %>">hihat3</option>
                    <% m++;%>
                    <option value="<%= m %>">hihat4</option>
                    <% m++;%>
                    <option value="<%= m %>">hihat5</option>
                    <% m++;%>
                    <option value="<%= m %>">hihat6</option>
                    <% m++;%>
                </optgroup>
                <optgroup label="bass">
                    <option value="<%= m %>">bass1</option>
                    <% m++;%>
                    <option value="<%= m %>">bass2</option>
                    <% m++;%>
                    <option value="<%= m %>">bass3</option>
                    <% m++;%>
                    <option value="<%= m %>">bass4</option>
                    <% m++;%>
                    <option value="<%= m %>">bass5</option>
                    <% m++;%>
                    <option value="<%= m %>">bass6</option>
                    <% m++;%>
                    <option value="<%= m %>">bass7</option>
                    <% m++;%>
                    <option value="<%= m %>">bass8</option>
                    <% m++;%>
                    <option value="<%= m %>">bass9</option>
                    <% m++;%>"<%= m %>"
                </optgroup>
                <optgroup label="others">
                    <option value=>big-bass-c2</option>
                    <% m++;%>
                    <option value="<%= m %>">bsoft2</option>
                    <% m++;%>
                    <option value="<%= m %>">blip-1</option>
                    <% m++;%>
                    <option value="<%= m %>">bass-0101</option>
                    <% m++;%>
                    <option value="<%= m %>">bass-a2</option>
                    <% m++;%>
                    <option value="<%= m %>">bass-a3</option>
                    <% m++;%>
                    <option value="<%= m %>">el-bass-01</option>
                    <% m++;%>
                    <option value="<%= m %>">el-bass-02</option>
                    <% m++;%>
                    <option value="<%= m %>">bass-stab-11</option>
                    <% m++;%>
                    <option value="<%= m %>">balloon-bass-03</option>
                    <% m++;%>
                    <option value="<%= m %>">sound5a</option>
                    <% m++;%>
                    <option value="<%= m %>">bass-16b</option>
                    <% m++;%>
                    <option value="<%= m %>">access-denied</option>
                    <% m++;%>
                    <option value="<%= m %>">retro-jump-sfx</option>
                    <% m++;%>
                    <option value="<%= m %>">geiger1</option>
                    <% m++;%>
                    <option value="<%= m %>">blip2</option>
                    <% m++;%>
                    <option value="<%= m %>">complete-signal</option>
                    <% m++;%>
                    <option value="<%= m %>">quack</option>
                    <% m++;%>
                    <option value="<%= m %>">loading-chime</option>
                    <% m++;%>
                    <option value="<%= m %>">laser-shot</option>
                    <% m++;%>
                </optgroup>
            </select>
        </div>
        <div class="soundEffectVolumeDiv">
            <label for="<%= 'effect' + i %>">Effect:</label>
            <select size="1" class="effectSelect" id="<%= 'effect' + i %>">
                <option value="<%= m %>">room</option>
                <% m++;%>
                <option value="<%= m %>">cathedral</option>
                <% m++;%>
                <option value="<%= m %>">toilet</option>
                <% m++;%>
                <option value="<%= m %>">factory hall</option>
                <% m++;%>
                <option value="<%= m %>">small church</option>
                <% m++;%>
            </select>
            <input class="effectIn" id="<%= 'effectIn' + i %>" type="range" min="0" max="100"
                   value="<%= bar.effectLevel %>"
                   step="1">
        </div>
        <div class="soundEffectVolumeDiv">
            <label for="<%= 'volume' + i %>">Lautstärke </label>
            <input class="barVolume" id="<%= 'volume' + i %>" type="range" min="0" max="100" value="<%= bar.volume %>"
                   step="1">
        </div>
    </div>
    <% var j = 1; console.log(j);%>
    <% _.each(bar.notes, function(note) { %>
    <button class="beatBtn <%= j %>" value="<%= note ? 'set' : 'unset' %>"></button>
    <% j++; %>
    <% }); %>
</div>
<% i++; %>
<% }); %>